@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    IEI Companies, Inc. is a premier floral and gifting company. Through our diversified family of brands, 
    we provide floral, specialty foods, gifts and related products to consumers primarily in the United 
    States and the United Kingdom. We also provide floral products and services to retail florists and other 
    retail locations throughout these same geographies. IEI has been delivering flowers since 1920 and the 
    highly-recognized IEI® and Interflora® brands are supported by the iconic Mercury Man logo®, which is 
    displayed in nearly 35,000 floral shops in over 125 countries. In addition to FTD and Interflora, our 
    diversified portfolio of brands includes the following trademarks: ProFlowers®, ProPlants®, Shari's Berries®, 
    Personal Creations®, RedEnvelope®, Flying Flowers®, Flowers Direct™, Ink Cards™, Postagram™ and Gifts.com™. 
    IEI Companies, Inc. is headquartered in Downers Grove, Ill.
</p>
